svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 160 72')
    g(fill='none' fill-rule='evenodd' stroke='#000')
        path(fill="white" d='M6.58 35.5c.652-.613 1.173-1.5 1.585-2.64.625-1.732.934-3.532 1.433-7.6l.074-.6.074-.598C10.787 15.732 12.18 12.5 16 12.5h128c3.738 0 4.638 2.818 5 11.52.19 4.55.374 6.447.992 8.382.436 1.365 1.067 2.407 1.923 3.098H6.58zM.5 40.5h159v30H.5zM2.5 36.5h155v3H2.5z')
        path(fill="white" d='M.5 40.5h159v31H.5zM2.5 36.5h155v3H2.5z')
        rect(fill="white" width='143' height='7' x='8.5' y='4.5' rx='3.5')
        path(fill="white" d='M12.5.5h132v3h-132z')
                        