svg(xmlns='http://www.w3.org/2000/svg' preserveaspectratio='none' viewbox='0 0 120 1600')
    path(fill='none' stroke='#000' d='M112 0c4.667 304 7 565.333 7 784 0 218.667-1 490.667-3 816m-112-.914C2 1279.696 1 1008 1 784S3.333 298.667 8 0' opacity='.5')
