svg.dorian(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 160 75')
  g(fill='none' fill-rule='evenodd' stroke='#000')
    rect(width='159' height='5' x='.5' y='.5')
    path(d='M2.93868651,6.5 C4.38518548,7.58531113 5.34831773,9.44120996 5.48360239,11.5 C6.29125736,11.5 6.98032375,11.5 11.4023438,11.5 C18.3867188,11.5 18.3867188,11.5 28.28125,11.5 C51.5625,11.5 51.5625,11.5 79.5,11.5 C107.4375,11.5 107.4375,11.5 130.71875,11.5 C140.613281,11.5 140.613281,11.5 147.597656,11.5 C150.435059,11.5 150.435059,11.5 152.32666,11.5 C153.0561,11.5 153.080628,11.5 153.524649,11.5 C153.719396,9.51688837 155.045488,7.61280459 156.790718,6.5 C155.935728,6.5 154.771271,6.5 153.125,6.5 C145.625,6.5 145.625,6.5 135,6.5 C110,6.5 110,6.5 80,6.5 C50,6.5 50,6.5 25,6.5 C14.375,6.5 14.375,6.5 6.875,6.5 C5.04801956,6.5 3.81443602,6.5 2.93868651,6.5 Z')
    rect(width='147' height='11' x='6.5' y='12.5')
    rect(width='143' height='2' x='8.5' y='24.5')
    path(d='M11.3992872,27.5 C12.2436967,28.5254508 12.7022014,30.413124 13.1554753,33.4941361 C13.2077114,33.8500608 13.2352786,34.0377294 13.2604625,34.2074937 C13.300556,34.4777626 13.3350183,34.70529 13.369006,34.9228116 C14.2052431,40.2747289 15.5264978,42.5 19,42.5 C19.953125,42.5 19.953125,42.5 24.2421875,42.5 C29.9609375,42.5 29.9609375,42.5 38.0625,42.5 C57.125,42.5 57.125,42.5 80,42.5 C102.875,42.5 102.875,42.5 121.9375,42.5 C130.039063,42.5 130.039063,42.5 135.757813,42.5 C140.046875,42.5 140.046875,42.5 141,42.5 C144.917568,42.5 146.343869,40.2179186 147.003861,34.9379826 C147.060799,34.482483 147.079844,34.3127063 147.196842,33.2430128 C147.518435,30.3027318 147.886168,28.4942411 148.651226,27.5 C147.862893,27.5 146.708987,27.5 144.898438,27.5 C138.242188,27.5 138.242188,27.5 128.8125,27.5 C106.625,27.5 106.625,27.5 80,27.5 C53.375,27.5 53.375,27.5 31.1875,27.5 C21.7578125,27.5 21.7578125,27.5 15.1015625,27.5 C13.329306,27.5 12.1862112,27.5 11.3992872,27.5 Z')
    rect(width='123' height='3' x='18.5' y='43.5')
    rect(width='121' height='15' x='19.5' y='47.5')
    rect(width='135' height='7' x='12.5' y='63.5' rx='3.5')
    rect(width='126' height='3' x='17.5' y='71.5')
