$color-text: #43494a;
$color-bcg: #f0f0f0;
$color-house-bcg: #fff;
$color-house-stroke: #000;

@import url('https://fonts.googleapis.com/css?family=Unna&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --column-width: 40px;
    --house-width: 80%;
    --house-height: 80%;
    --roof-height: 100px;
    --frieze-height: 100px;
    --foundation-height: 100px;
}

body {
    font-family: 'Unna', serif;

    display: flex;

    height: 100vh;

    color: $color-text;
    background: $color-bcg;
}

// SVG GENERAL
svg {
    width: 100%;
    height: 100%;
}

.path {
    // Extend this when applying path style
    stroke: $color-house-stroke;
    vector-effect: non-scaling-stroke;
}

//////////////////////////////////////
// LAYOUT
//////////////////////////////////////

aside {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 15vw;
    min-width: 210px;
    height: 100%;
    margin-left: 20px;
    input {
        width: 100%;
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 85vw;
    min-width: 600px;
    margin: 20px;

    border-radius: 2px;
    background: $color-house-bcg;
    box-shadow: 0 .5px 5.3px rgba(0, 0, 0, .016),
    0 1.8px 17.9px rgba(0, 0, 0, .024),
    0 8px 80px rgba(0, 0, 0, .04)
    ;
}

//////////////////////////////////////
// CONTROLS
//////////////////////////////////////

header {
    margin-bottom: 30px;
    h1 {
        font-size: 40px;

        letter-spacing: .03em;
    }
    p {
        font-size: 20px;
    }
}

p {
    opacity: .75;
}

input[type='range'] {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 20px;

    outline: none;
    background: rgba(0,0,0, .2);

    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    z-index: 100;

    width: 14px;
    height: 14px;

    cursor: ew-resize;

    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    background-size: 3px;

    -webkit-appearance: none;
            appearance: none;
}

.style {
    display: flex;
    align-items: stretch;

    margin-top: 10px;
    margin-bottom: 20px;
    input[type='radio']:checked + label {
        outline: 1px solid $color-house-stroke;
        background-color: white;
    }
    input[type='radio'] {
        display: none;
    }
    label {
        width: 100%;
        padding: .2em .5em;

        cursor: pointer;
        text-align: center;

        outline: 1px solid rgba(0,0,0, .05);
        background-color: rgba(0,0,0, .05);
    }
}

input[type='button'] {
    margin-top: 30px;
    padding: .4em .5em;

    cursor: pointer;

    color: black;
    border: none;
    outline: 1px solid $color-house-stroke;
    background-color: white;

    appearance: none;
}


////////////////////////////////////
// THE HOUSE
//////////////////////////////////////

.house {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

    width: var(--house-width);
    height: var(--house-height);

    opacity: 0;
}

.block {
    flex-grow: 1;

    width: 100%;
}

.roof {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;

    width: 105%;
    height: var(--roof-height);
    svg {
        width: 99.5%;
    }
    path {
        @extend .path;
    }
    .list {
        flex-grow: 0;

        width: 98%;
        min-height: 6px;
        max-height: 6px;

        border: 1px solid $color-house-stroke;
        border-top: none;
        border-top: none;
        background-repeat: repeat-x;
        background-position: 50%;
        &:nth-child(2) {
            width: 99%;
        }
        &:nth-child(3) {
            width: 98.5%;
        }
    }
    .festong {
        width: 97%;
        min-height: 15px;
        max-height: 10px;

        background-image: url(assets/fetong-list.svg);
        background-position-y: 0;
        background-size: 14px;
    }
    .egg {
        flex-shrink: 0;

        min-height: 12px;

        background-image: url(assets/egg-list.svg);
        background-size: 10px;
    }
}

.frieze {
    flex-grow: 0;
    flex-shrink: 0;

    height: var(--frieze-height);

    outline: 1px solid $color-house-stroke;
}

.decoration {
    z-index: 100;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;

    width: 103%;
    height: 30px;
    min-height: 24px;

    border: none;
    &:before, &:after {
        display: block;

        width: 98%;
        height: 50%;

        content: '';

        outline: 1px solid $color-house-stroke;
        background-color: $color-house-bcg;
        background-repeat: repeat-x;
        background-position: 50%;
        background-size: 13px;
    }
    &:before {
        border-bottom: none;
        background-image: url(assets/theeth-list.svg);
        background-position-y: -1px;
    }
    &:after {
        width: 99%;

        border-radius: 5px;
    }
}

.foundation {
    position: relative;
    z-index: 100;

    flex-grow: 0;

    width: calc(100% + 8px);
    height: var(--foundation-height);
    margin-top: 1px;
    margin-top: -1px;

    outline: 1px solid $color-house-stroke;
    background-color: $color-house-bcg;
}

.levels {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: 0;
}

.level {
    position: relative;

    display: flex;
    align-items: stretch;
    flex-grow: 1;
    justify-content: space-between;

    height: 0;
    .wall:last-child {
        display: none !important;
    }
    &:after {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;

        width: calc(100% - 36px);
        height: 5px;

        content: '';
        transform: translate(-50%);

        opacity: .6;
        border-top: 1px solid $color-house-stroke;
        outline: 1px solid $color-house-stroke;
        outline-offset: 2px;
    }
}

.wall {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;

    width: 10px;
    .window {
        z-index: 2;

        width: 90%;
        max-width: 50px;
        height: 40%;

        background-color: grey;
        background-image: url(assets/half-fill.svg);
        background-size: 3px;
    }
    &.door {
        .window {
            flex-grow: 0;

            height: 50%;
            margin-bottom: 0;

            border-radius: 1000px 1000px 0 0;
            background-color: #d3d3d3;
            background-image: url(assets/full-fill.svg);
        }
    }
}

.column {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    width: var(--column-width);
    .bottom, .top {
        position: relative;
        z-index: 5;
    }
    .top {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        width: 100%;
        margin-top: -2px;
        svg {
            display: none;
        }
    }
    .bottom {
        width: 70%;
        margin-bottom: -1px;
    }
    .middle {
        display: flex;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-around;

        width: 50%;

        transform: translateY(-1px) scaleY(1.08);
        text-align: center;
        svg {
            height: calc(100% + 2px);
        }
        path {
            @extend .path;
        }
    }
}

.house.corinthian .corinthian, .house.ionian .ionian, .house.dorian .dorian {
    display: inline-block;
}

svg.dorian {
    width: 70%;

    transform: translateX(.2%);

    background-color: $color-house-bcg;
}


.floor {
    position: relative;
    z-index: 100;

    flex-shrink: 0;

    min-height: 10px;

    outline: 1px solid $color-house-stroke;
    background-color: $color-house-bcg;
}
